In [86]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import SGDRegressor

sns.set_style("whitegrid")

الف)

In [ ]:
data = pd.read_excel("/home/ace/Desktop/BOOTCAMP/s2/Dataset/CSM_dataset.xlsx", na_values="NaN")
data.head()

,Movie,Year,Ratings,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate Followers
0,13 Sins,2014,6.3,8,9130,4000000.0,45.0,1,0,3280543,4632,425,636,1120000.0
1,22 Jump Street,2014,7.1,1,192000000,50000000.0,3306.0,2,2,583289,3465,61,186,12350000.0
2,3 Days to Kill,2014,6.2,1,30700000,28000000.0,2872.0,1,0,304861,328,34,47,483000.0
3,300: Rise of an Empire,2014,6.3,1,106000000,110000000.0,3470.0,2,0,452917,2429,132,590,568000.0
4,A Haunted House 2,2014,4.7,8,17300000,3500000.0,2310.0,2,0,3145573,12163,610,1082,1923800.0

ب)

In [59]:
data = data.set_axis([0,1,2,3,4,5,6,7,8,9,10,11,12,13], axis=1)

In [60]:

raw_data = data.drop([0,1], axis = 1)

raw_data = raw_data.fillna(raw_data.median(numeric_only=True))
raw_data.head()

,2,3,4,5,6,7,8,9,10,11,12,13
1,0.298598,0.199776,0.764461,0.166667,0.597015,0.017857,0.009348,0.004370,0.004848,0.397981,186,12350000.0
2,0.047741,0.111751,0.664044,0.000000,0.567164,0.009323,0.000882,0.002436,0.001225,0.015532,47,483000.0
3,0.164849,0.439843,0.802406,0.166667,0.567164,0.013861,0.006552,0.009456,0.015379,0.018271,590,568000.0
4,0.026901,0.013724,0.534012,0.166667,0.567164,0.096391,0.032821,0.043696,0.028204,0.061966,1082,1923800.0
5,0.000041,0.001720,0.642180,0.000000,0.567164,0.002772,0.000300,0.000501,0.000026,0.009956,1,310000.0

In [62]:
print("Data types:")
print(raw_data.dtypes)

Data types:
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12      int64
13    float64
dtype: object

In [64]:
feature_columns = [3, 4, 6, 7, 8, 9, 10, 11, 12, 13]
X = raw_data[feature_columns].values
y = raw_data[5].values

In [65]:

print(f"\nNaN in X: {np.isnan(X).sum()}")
print(f"NaN in y: {np.isnan(y).sum()}")

NaN in X: 0
NaN in y: 0

In [100]:

min_max_scaler = MinMaxScaler() 
X_scaled = min_max_scaler.fit_transform(X)

print(X_scaled.shape,"\n", y.shape)
X_scaled

(230, 10)
 (230,)

array([[1.99775937e-01, 7.64460898e-01, 5.97014925e-01, ...,
        3.97981252e-01, 4.84842166e-03, 3.97981252e-01],
       [1.11751290e-01, 6.64044424e-01, 5.67164179e-01, ...,
        1.55317614e-02, 1.22513881e-03, 1.55317614e-02],
       [4.39843156e-01, 8.02406293e-01, 5.67164179e-01, ...,
        1.82711401e-02, 1.53794020e-02, 1.82711401e-02],
       ...,
       [1.39759133e-01, 6.42063859e-01, 6.71641791e-01, ...,
        3.36503342e-02, 1.06613143e-02, 3.36503342e-02],
       [1.17232825e-02, 6.42179547e-01, 7.16417910e-01, ...,
        3.36503342e-02, 5.23942340e-03, 3.36503342e-02],
       [1.20033609e-04, 6.28875521e-01, 4.92537313e-01, ...,
        3.36503342e-02, 1.57964706e-02, 3.36503342e-02]], shape=(230, 10))

In [ ]:

# normalized = pd.DataFrame(X_scaled, columns = [3,4,5,6,7,8,9,10,11,12,13], index = data.index)
# data[[1,2,3,4,5,6,7,8,9,10,11]] = normalized

# y = raw_data[5]
# X = np.array(raw_data)

# print(X.shape, y.shape)
# raw_data

ValueError: Shape of passed values is (231, 11), indices imply (230, 11)

In [101]:
X_train , X_test, y_train, y_test = train_test_split(X_scaled,y, test_size=0.2)
print(X_train.shape, y_train.shape)

(184, 10) (184,)

ج)

In [102]:

lr_gd = SGDRegressor(max_iter=3000000000, tol=1e-7,alpha=0.0001)
lr_gd.fit(X_train, y_train)
score = lr_gd.score(X_test, y_test)
print(score)

0.2010337119004164

د)

In [96]:
from sklearn.metrics import mean_squared_error
y_pred = lr_gd.predict(X_test)
mse = mean_squared_error(y_test, y_pred, sample_weight=None, multioutput='uniform_average')

In [97]:
mse

0.01079528141034222

هـ

بله مجبور به حذف نام فیلم هستیم چرا که نه عددی است و نه قابل  «وان هات» کردن
حتی در صورت تبدیل نام به نوعی از عدد، باز هم برای الگوریتم های ماشین لرنینگ قابل استفاده نیست